*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;

}

body{
    margin: 0;
    color: #2f3040;
}
div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

a:hover{
    color: rgb(241, 140, 24);
}

ul{
    list-style-type: none; 
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #2f3040;
    height: 80px;
    align-items: center;

}

ul{
    width: 40%;
}


#nav-logo{
    width: 40%;
    margin-left: 20px;
}





#hamburguer{
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    border: white solid 1px;
    padding: 4px;
    border-radius: 5px;
    align-items: center;
    display: none;
}

span {
    width: 35px;
    height: 10%;
    background-color: white;
    border-radius: 120px;
}


#menu-responsivo{
    display: none;
    flex-direction: column;
    background-color: antiquewhite;
    width: 100vw;
    height: 40vh;
}

.showMenu{
    display: flex;
}



/*SECTION DE PROJETO*/
section{
    width: 90%;
}

#o-projeto , #detalhes{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#o-projeto{
    width: 70%;
}

section div{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*SECTION DE DETALHES*/

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conteudo div{
    width: 30%;
    padding: 10px;  
}

/*SECTION DE CONTATOS*/

#contatos{
    background-color: #2f304038;
    width: 100%;
    
}

#contatos div.conteudo{
    width: 80%;
}



/*footer*/

footer{
    width: 100%;
    height: 200px;
    background-color: #2f3040;
}

















/*NAO MEXER, CRIAR EM CIMA*/

h4{
    font-weight: 100;
    font-size: 20pt;
    margin-bottom: 20px;
}

h3{
    text-transform: uppercase;
    margin: 20px;
    font-size: 25pt;
    font-weight: 700;
}

hr{
    margin-bottom: 20px;
    width: 100px;
    height: 2px;
    background-color: #2f3040;
    border: none; 

}

img{
    width: 60px;
    margin: 0px 0px 20px 0px;
}
